html {
    box-sizing: border-box; /*Стандартный размер высоты и ширины*/
}

*, *::after, *::before { /*Говорит всем тегам следовать этому значению*/
    box-sizing:inherit; /*Как у родителя. head как у html
    div wrapper как у body и т.д*/
    margin: 0; /*Убираем ненужные отступы сразу везде*/
    padding: 0;
}

html,
body {
    height: 100%; /*высота 100% для всего*/
}

ul {
    list-style-type: none; /*Убрали все точки возле нумерованных
    списков*/
}

a {
    text-decoration: none; /*Убрали подчеркивания подо всеми ссылками*/
    color: inherit; /*Ссылки будут наследовать цвет своей родительской
    категории*/
}

.wrapper { /*весь контент в обертке*/
    min-height: 100%; /*мин высота*/ 
    display: flex; 
    flex-direction: column;
}

.container { /*Наш контейнер из HTMl*/
    max-width: 1220px; /* макс ширина */
    margin: 0 auto; /* Выравнивание по центру 0 - верх-низ
    auto - лево право*/
    padding: 0 10px; /*Отступы по бокам по 10 (слева и справа)*/
}

body {
    font-size: 16px; /*Размер шрифта во всем теге body*/
    font-weight: 400; /*Толщина*/
    font-family: 'Inter', sans-serif; /*Наши шрифты для body*/
    line-height: 1.3; /*высота строки*/
}

.header {
    background-color: #151515;
}

.header-main {
    background-color: transparent; /*Прозрачный фон хедера на главной странице. На остальных страницах он черный (см. header) */
}

.header__inner {
    padding-top: 40px; /*Отступ сверху страницы для этого блока*/
    padding-bottom: 45px; /*Отступ от низа страницы*/
    display: flex; /*flex распологает элементы внутри header_inner 
    рядом друг с другом. Слева направо в ряд*/
    justify-content: space-between; /*расположили их друг напротив друга
    по разные стороны, один слева, другой далеко справа в пределах
    блока*/
    align-items: flex-end; /*Выравнивание элементов по низу*/
}

.menu__list { 
    display: flex; /*расположили категории меню в шеренгу, а не 
    списком*/
    gap: 35px; /*Расстояние между категориями меню*/
}

.menu__list-link {
    color: white;
    text-transform: uppercase; /*Все буквы названия категорий капсом*/
    font-weight: 700; /*новая Толщина, для всего body она 400, конкретно 
    для ссылок категорий - 700*/
}

.footer {
    background-color: #151515;
    padding: 50px 0 32px; /*Отступ в футере сверху и снизу до текста*/
    color: #fff; /*Цвет элементов в футере*/
}

.footer__menu {
    display:flex; /*Элементы в ряд*/
    justify-content: space-around; /*Распределили категории футера
    вдоль футера на равном друг от друга расстоянии*/
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 250px; /*макс ширина текста в футере, чтобы если длина слов изменится на очень длинные ничего не поползло в стороны*/
}

.footer__menu-title {
    font-size: 24px; /* размер шрифта во всем меню тайтл*/
    font-weight: 700; /*толщина*/
    padding-bottom: 20px; /*отступ от меню итем снизу. Нужно 40px, ставим 20px, потому что еще 20px у нас есть в самом меню айтем в отступе сверху(padding top)*/
}

.footer__menu-item + .footer__menu-item { /*применяет стиль с первого попавшегося меню айтем к следующему (соседнему), пропуская идущий меню тайтл. Потому что нам нужны отступы между меню линками, без затрагивания меню тайтл*/
    padding-top: 20px; /*Отступы между меню айтем от верха*/
}

.app {
    display: flex;/*Элементы в ряд*/
    justify-content: center;
    gap: 40px; /*расстояние между ними*/
    margin-bottom: 52px; /*отступ от footer copy text*/
}

.footer__copy {
    max-width: 800px; /*макс ширина*/
    margin: 0 auto 30px; /*отступ от элемента сверуху 0, по бокам авто, снизу 30*/
    text-align: center; /*текст по центру*/
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main {
    flex-grow: 1; /*Это свойство указывает, может ли вырастать флекс-элемент при наличии свободного места, и насколько.*/
}

.top {
    padding-top: 105px; /*отступ сверху от хеадера. Надо 150, 45 уже есть в самом хеадере*/
    color: #fff;
    text-align: center;
    padding-bottom: 50px; /*отступ снизу*/
}

.title {
    padding-bottom: 40px; /*отступ от тайтла снизу до кнопки*/
    font-size: 96px; /*размер шрифта в тайтле*/
    font-weight: 700; /*жирность*/
}

.top__link { /*кнопка*/
    background-color: #151515; /*заливка фона кнопки*/
    padding: 23px; /*отступы со всех краев от текста до края кнопки*/
    max-width: 430px; /*макс ширина*/
    width: 100%; /*чтобы сохранять границы текста в кнопке если он станет больше*/
    display: inline-block; /*для нормального отображения ссылки*/
    text-transform: uppercase; /*текст капсом*/
    font-size: 36px; /*размер шрифта*/
    font-weight: 700;
}

.swiper-slide { /*стили слайдов*/
    height: 100vh; /*100% высоты экрана*/
}